@import '../../styles/colors.scss';

.InputWrapper {
  position: relative;
  width: 300px;
  height: 50px;
  margin-bottom: 2rem;

  .Input {
    border: solid 1px rgb(177, 177, 177);
    background-color: transparent;
    width: 100%;
    height: 50px;
    border-radius: 0px;
    position: absolute;
    transition: 0.1s;
    outline: none;
    padding: 0 16px;
    color: $black;

    &:not(:placeholder-shown) + .Label {
      color: $yellow;
      top: -12px;
      font-size: 12px;
      font-weight: 700;
    }

    &:focus {
      border: solid 2px $yellow;

      + .Label {
        color: $yellow;
        top: -12px;
        font-size: 12px;
        font-weight: 700;
      }
    }

    &:invalid {
      border: solid 2px $red;

      + .Label {
        color: $red;
      }
    }
  }

  .Label {
    z-index: 10px;
    position: absolute;
    top: 12px;
    left: 13px;
    background-color: $white;
    padding: 2px;
    font-size: 16px;
    color: #aaa;
    pointer-events: none;
    transition: 0.2s;

    .RequiredField {
      font-size: 16px;
      color: red;
    }
  }
}
