// Base colors
$yellowAux: #d3b40f;
$white: #fff;
$black: #000;
$orange: #fb7b01;
$yellow: #fff159;
$red: #fb5b57;
$yellowMouseHover: #fae407;

// Aux colors
$darkWhite: #f2f0e4;
$darkGrey: #a9a9a9;
$lightGrey: #c0c0c0;
$grey: #696969;
